<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/css/bootstrap-grid.min.css.map">
    <link rel="stylesheet" href="/static/css/css/bootstrap.min.css.map">
    <link rel="stylesheet" href="/static/css/css/bootstrap.css">
    <link rel="stylesheet" href="/static/reports.css">
</head>

<body>
    <div class="reptable">
        <table class="table table-white table-striped">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Task/Activity</th>
                    <th scope="col">Mode</th>
                    <th scope="col">Date/Time</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Donation</td>
                    <td>GCASH</td>
                    <td>05/29/2020 12:00 AM</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Programs</td>
                    <td>Upload</td>
                    <td>05/29/2020 12:00 AM</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Project</td>
                    <td>Upload</td>
                    <td>05/29/2020 12:00 AM</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Project</td>
                    <td>Archive</td>
                    <td>05/29/2020 12:00 AM</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>