{% load static %}
<!DOCTYPE html>

<head>
    <link rel="shortcut icon" type="x-icon" href="{% static 'images/CTU_logo.png' %}">
    <title>STUDENT LIFE INFORMATION SYSTEM</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'main.css'%}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <div class="orange-bar">
        <img src="{% static 'images/CTU_logo.png' %}" class="logo">
        <img src="{% static 'images/barSort.png' %}" class="bars">
    </div>
    <div class="left-side">
        <nav class="side-nav">
            <ul>

                <li><a href="#" class="studentlife-btn">OFFICE OF STUDENT LIFE
                        <span class="fas fa-caret-down first"></span>
                    </a>
                    <ul class="studentlife">
                        <li><a href="/equipmenttrackerAdmin">Equipment Tracker(Admin)</a></li>
                        <li><a href="/requested-gmc">Good Moral Certificate Issuance(Admin)</a></li>
                        <li><a href="#">PPMP Tracker(Admin)</a></li>
                        <li><a href="/monthlyCalendarAdmin">Monthly Calendar of Activites(Admin)</a></li>
                    </ul>
                </li>
                <li><a href="#" class="scholar-btn">SCHOLARSHIP
                        <span class="fas fa-caret-down second"></span>
                    </a>
                    <ul class="scholar-show">
                        <li><a href="#">Submission of Requirements Tracker(Admin)</a></li>
                        <li><a href="#">Scholars Profile and Validation(Admin)</a></li>
                        <li><a href="#">Grade Submission with GPA Computation(Admin)</a></li>
                        <li><a href="#">Mentorship Program(Admin)</a></li>
                        <li><a href="#">Admin Cost Liquidation Tracker(Admin)</a></li>
                        <li><a href="#">CHED Reports Submission(Admin)</a></li>
                        <li><a href="#">Transaction Reports(Admin)</a></li>
                    </ul>
                </li>
                <li><a href="#" class="jobplace-btn">JOB PLACEMENT
                        <span class="fas fa-caret-down third"></span>
                    </a>
                    <ul class="jobplace-show">
                        <li><a href="#">OJT Hiring</a></li>
                        <li><a href="#">Career Guidance Tracker(Admin)</a></li>
                        <li><a href="#">OJT Requirements Tracker(Admin)</a></li>
                        <li><a href="#">Non-Academic Award Issuance(Admin)</a></li>
                        <li><a href="#">Transaction Reports(Admin)</a></li>
                    </ul>
                </li>
                <li><a href="#" class="student_disc-btn">STUDENT DISCIPLINE
                        <span class="fas fa-caret-down fourth"></span>
                    </a>
                    <ul class="student_disc-show">
                        <li><a href="#">Case Profile(Admin)</a></li>
                        <li><a href="#">Hours Rendered for Community Service Tracker(Admin)</a></li>
                        <li><a href="#">Good Moral Certificate Issuance(Admin)</a></li>
                        <li><a href="#">Transaction Reports(Admin)</a></li>

                    </ul>
                </li>
                <li><a href="#" class="guide-btn">GUIDANCE
                        <span class="fas fa-caret-down fifth"></span>
                    </a>
                    <ul class="guide-show">
                        <li><a href="#">Individual Profile with Guidance Concern(Admin)</a></li>
                        <li><a href="#">Counseling App with Scheduler(Admin)</a></li>
                        <li><a href="#">Intake Interview(Admin)</a></li>
                        <li><a href="#">Exit Interview(Admin)</a></li>
                        <li><a href="#">OJT Assessments/Psychological Issuance(Admin)</a></li>
                        <li><a href="#">Transaction Reports(Admin)</a></li>
                    </ul>
                </li>
                <li><a href="#" class="alumni-btn">ALUMNI
                        <span class="fas fa-caret-down sixth"></span>
                    </a>
                    <ul class="alumni-show">
                        <li><a href="#">Alumni ID Requests(Admin)</a></li>
                        <li><a href="#">Graduate Tracer(Admin)</a></li>
                        <li><a href="#">Alumni Reunion and Events(Admin)</a></li>
                        <li><a href="#">Job Fairs(Admin)</a></li>
                        <li><a href="#">Digital Yearbook(Admin)</a></li>
                        <li><a href="#">Transaction Reports(Admin)</a></li>
                    </ul>
                </li>
                <li><a href="#" class="community-btn">COMMUNITY INVOLVEMENT
                        <span class="fas fa-caret-down seventh"></span>
                    </a>
                    <ul class="community-show">
                        <li><a href="{% url 'program-form' %}">Events(Admin)</a></li>
                        <li><a href="{% url 'project-form' %}">CrowdFunding Projects(Admin)</a></li>
                        <li><a href="#">Transaction Reports(Admin)</a></li>

                    </ul>
                </li>
                <li><a href="#" class="student_org-btn">STUDENT ORGANIZATION
                        <span class="fas fa-caret-down eight"></span>
                    </a>
                    <ul class="student_org-show">
                        <li><a href="#">Org Profile(Admin)</a></li>
                        <li><a href="#">Projects and Accomplishments(Admin)</a></li>
                        <li><a href="#">Financial Statements Reports(Admin)</a></li>
                        <li><a href="#">Accreditation Application(Admin)</a></li>
                        <li><a href="#">Transaction Reports(Admin)</a></li>
                    </ul>
                </li>
                <li><a href="#" class="medical-btn">MEDICAL
                        <span class="fas fa-caret-down ninth"></span>
                    </a>
                    <ul class="medical-show">
                        <li><a href="#">Patient Profile(Admin)</a></li>
                        <li><a href="#">Student Medical Requirements Tracker(Admin)</a></li>
                        <li><a href="#">Emergency Health Assistance(Admin)</a></li>
                        <li><a href="#">PWD Profile(Admin)</a></li>
                        <li><a href="#">Dental Services(Admin)</a></li>
                        <li><a href="#">Medical Clearance Issuance(Admin)</a></li>
                        <li><a href="#">Prescription Issuance(Admin)</a></li>
                        <li><a href="#">Transaction Reports(Admin)</a></li>
                    </ul>
                </li>
            </ul>
    </div>
    </div>
    <div class="search-container">
        <div class="search-icon">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <input type="text" placeholder="Search...">
    </div>
    </nav>
    {% block bodycontent %}

    {% endblock bodycontent %}

    <script src="{% static 'newmain.js' %}"></script>
</body>

</html>