{% extends 'adminUser/adminmain.html' %}
{% load static %}

{% block bodycontent %}
<link rel="stylesheet" href="{% static 'equipmentTrackerAdmin.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Freeman&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Rubik:ital,wght@0,300..900&display=swap" rel="stylesheet">

<div class="body-content">
    <div class="sub-title">
        <h3>OFFICE OF STUDENT LIFE (Admin)</h3>
        <p class="hometext">Home </p><p class="certxt"> > Equipment Tracker</p>
    </div>
    <div class="equipmentContents">
        <h2>Equipment Tracker</h2>
        <div class="title-txt">
            <p>Enter ID number:</p>
        </div>
        <form method="GET" action="{% url 'equipmentTrackerAdmin' %}" class="search">
            <input type="text" name="search" placeholder="Search..." value="{{ request.GET.search }}">
            <input type="submit" class="searchBtn" value="SEARCH"/>
        </form>
        <table class="equipmentform">
            <tbody>
                <tr>
                    <td>Name of Borrower:</td>
                    <td>Course/Program of Borrower:</td>
                </tr>
                <tr>
                    <td>
                        <input type="text" name="borrowername" id="borrowerName" 
                            placeholder="Name of Borrower" 
                            value="{{ student.firstname }} {{ student.lastname }}" 
                            {% if student %} readonly {% endif %}>
                    </td>
                    <td>
                        <input type="text" name="courseprogram" id="courseProgram" 
                            placeholder="Course/Program of Borrower" 
                            value="{{ student.degree }}" 
                            {% if student %} readonly {% endif %}>
                    </td>
                </tr>
                <tr>
                    <td>Equipment Name:</td>
                    <td>Date Borrowed:</td>
                </tr>
                <tr>
                    <td>
                        <select id="equipmentName" name="equipmentname">
                           
                            <option value="">BSIT 2A</option>                   
                        </select></td>
                    <td><input type="date" name="dateborrowed" id="dateBorrowed"></td>
                </tr>
            </tbody>
        </table>
        <div class="button-container">
            <a href="{% url 'addEquipment' %}" id="addbtn" class="button">ADD EQUIPMENT</a>
            <button class="saveBtn" type="button">SAVE</button>
        </div>
        <table class="equipmentTable">
            <thead>
                <tr>
                    <th>Name of Borrower</th>
                    <th>Course/Program</th>
                    <th>Equipment Name</th>
                    <th>Date Borrowed</th>
                    <th>Date Returned</th>
                </tr>
            </thead>
            <tbody>
                {% for request in gmc_requests %}
                <tr>
                    <td>{{ request.student.firstname }} {{ request.student.lastname }}</td>
                    <td>{{ request.student.degree }}</td>
                    <td>{{ request.student.yearlvl }}</td>
                    <td>{{ request.reason }}</td>
                    <td><input type="text" name="ornum" class="ornum-input" data-request-id="{{ request.id }}"></td>
                    <td><button class="printBtn" data-request-id="{{ request.id }}">Print</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock bodycontent %}
