.reptable {
    margin-top: 5%;
    width: 8 0%;
    margin-left: 4%;
    border: 3px solid rgb(132, 132, 132);
    border-radius: 5px;
    box-shadow: 50%;
    box-shadow: 2px 2px 10px 10px #888888;
    padding: 5px;
}


.table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 1px;

}

.table th,
td {
    width: 2px;
    text-align: center;
}