.body-content {
    margin-top: -750px;
    
  }
  
  .sub-title {
    margin-top: 150px;
    margin-left: 345px;
  }
  
  .sub-title h3 {
    color: black;
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  
  .sub-title p {
    display: inline;
  }
  
  .hometext {
    color: gray;
  }
  .certxt {
    margin-left: 5px;
    color: #ff8000;
  }

  .equipmentContents {
    width: 1155px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: black;
    margin-top: 40px;
    margin-left: 330px;
  }

.equipmentContents h2{
    color: black;
}
    

table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
  }
  
  table th,
  table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  table th {
    background-color: #f2f2f2;
    color: #ff8000;
  }
  
  table td {
    color: black;
  }
  