*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
    list-style-type: none;   
}

body::-webkit-scrollbar{
    display: none;
}

.left-side{
    display: flex;
    width: 299px;
    height: 100vh;
    flex-direction: column;
}

.side-nav
{
    margin-top: 60px;
    width: 299px;
    height: 100%;
    position: fixed;
    background: #4682B4;
    overflow-y: auto;
    scrollbar-width: none;
}

.orange-bar {
    height: 60px;
    background-color: #FF8000;
    width: 299px;
    z-index: 100;
    position: fixed;

}

.logo{
    height: 55px;
    margin-left: 15px;
    margin-top: 3px;
}

.bars{
    height: 25px;
    margin-left: 170px;
    margin-bottom: 13px;
}
.search-container {
    position: fixed;
    top: 0;
    left: 299px;
    width: 100%;
    background-color: #f1f1f1; 
    padding: 12.5px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 60px;
    z-index: 1000;
}

.search-icon i {
    margin-right: 10px;
    cursor: pointer;
    color: black;
    font-size: 20px;
}

input[type="text"] 
{
    padding: 9.6px;
    border: transparent;
    border-radius: 10px;
    box-sizing: border-box;
    padding-left: 10px;
    align-items:left;
    color: black;
    width: 300px;
    
}

#title{
    border: 1px solid #ced4da;
}

.side-nav li
{
    line-height: 30px;
}


.side-nav ul li{
    margin-left: -32px;
    line-height: 50px;
    border-bottom: 1px solid #2B40D1;
}

.side-nav ul ul{
    position: static;
    display: none;
}

.side-nav ul.studentlife.show{
    display: block;
}

.side-nav ul.scholar-show.show2{
    display: block;
}

.side-nav ul.jobplace-show.show3{
    display: block;
}

.side-nav ul.student_disc-show.show4{
    display: block;
}

.side-nav ul.guide-show.show5{
    display: block;
}

.side-nav ul.alumni-show.show6{
    display: block;
}

.side-nav ul.community-show.show7{
    display: block;
}

.side-nav ul.student_org-show.show8{
    display: block;
}

.side-nav ul.medical-show.show9{
    display: block;
}


.side-nav ul ul li{
    line-height: 40px;
}

.side-nav ul ul li a{
    font-size: 15px;
    padding-left: 60px;
}

.side-nav ul li a:hover{
    background: #3e74a0;
    border-left-color: white;
}

.side-nav ul li a
{
    position: relative;
    color: white;
    padding-left: 30px;
    text-decoration: none;
    font-size: 14px;  
    display: block;
    width: 100%;
    border-left: 5px solid transparent;
}

.side-nav ul li a span{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 18px;
    transition: transform 0.4s;
}

.side-nav ul li a span.rotate{
    transform:  translateY(-50%) rotate(-180deg);
}

:root {
    --bs-success-rgb: 71, 222, 152 !important;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: Apple Chancery, cursive;
}

.btn-info.text-light:hover,
.btn-info.text-light:focus {
    background: #000;
}
table, tbody, td, tfoot, th, thead, tr {
    border-color: #ededed !important;
    border-style: solid;
    border-width: 1px !important;
}
.fc-toolbar-title {
    font-size: 72px;
    font-weight: bold;
    color: white;
    font-family: 'Arial, sans-serif';
    padding: 10px;
    background-color: #ff8000;
    border-radius: 5px;
}
.sub-title {
margin-top: -600px;
margin-left: 345px;
}

.sub-title h3 {
color: black;
font-family: "Rubik", sans-serif;
font-size: 20px;
font-weight: 600;
margin-bottom: 15px;
}

.sub-title p {
display: inline;
}

.hometext {
color: gray;
}
.certxt {
margin-left: 5px;
color: #ff8000;
}

.control-label{
    color: black;

}

#title,#description,#start,#end{
    color: black;
    border: none;
}